@import './base/colors';

.billing {
  margin-top: 50px;
  .header {
    margin: auto;
    padding: 10px 0;
    width: 600px;
    text-align: left;
    h1 {
      font-weight: 300;
      font-size: 30px;
      color: $primary-blue;
    }
    p {
      font-size: 14px;
    }
  }
  .type {
    margin: auto;
    padding: 10px 0;
    width: 600px;
    text-align: left;
    h1 {
      font-weight: 300;
      font-size: 22px;
      color: $primary-blue;
    }
  }
  .description {
    margin: auto;
    padding: 10px 0;
    width: 1000px;
    .orders {
      margin: auto;
      display: flex;
      flex-direction: row;
      width: 800px;
      .order {
        background-color: $primary-white;
        padding: 15px 0;
        margin: 5px;
        transition: background-color .4s,box-shadow .4s;
        cursor: pointer;
        flex: 1 1 150px;
        border-radius: 4px;
        border: 1px solid $primary-gray-tint-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 300;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        svg {
          font-size: 32px;
          color: $primary-gray-tint-2;
          margin: 10px 0;
        }
        .name {
          color: $primary-green;
          font-size: 14px;
        }
        .price {
          font-size: 32px;
          font-weight: 300;
        }
        .time {
          color: $primary-gray-tint-3;
          font-size: 14px;
        }
      }
      .order:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
      }
      .active {
        border: none;
        background-color: $primary-green;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
        svg, .name, .price, .time {
          color: $primary-white;
        }
      }
    }
  }
  .action {
    margin: auto;
    margin-bottom: 40px;
    padding: 10px 0;
    width: 600px;
    text-align: center;
    .hint {
      font-size: 14px;
      text-align: left;
      margin-bottom: 80px;
    }
  }
  .final {
    margin-top: 120px;
    text-align: center;
    font-weight: 300;
    font-size: 1.75rem;
    color: $primary-blue;
    span {
      display: block;
      font-size: 80px;
      margin-top: 20px;
    }
  }
}
