@import './base/colors';

.mapbox {
  height: calc(100vh - 50px);
  width: calc(100vw - 650px);
}

.info-box-wrap {
  width: 300px;
  .info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 55px;
    }
  }
  .info-box-body {
    font-style: italic;
  }
  .info-box-footer {
    padding-top: 6px;
    border-top: 1px solid $primary-gray-tint-2;
  }

}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .mapbox {
    display: none;
  }
}
