@import './base/colors';

.talent-view {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $primary-gray-tint-1;
  z-index: 0;
  overflow: visible;
  .center {
    width: 600px;
    margin: 60px 20px;
    .message {
      margin: 10px 0;
      display: flex;
      justify-content: flex-end;
      .small {
        font-size: 14px;
        margin: auto auto auto 0;
      }
      h3 {
        font-weight: 300;
        color: $primary-gray-tint-3;
      }
      a {
        cursor: pointer;
        color: $primary-green;
      }
    }
    .empty {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $primary-gray-tint-3;
      svg {
        font-size: 60px;
        -webkit-text-stroke: 1px $primary-gray-tint-1;
      }
    }
  }
  .left, .right {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 305px;
    margin: 80px 0 20px 0;
    .button {
      margin: 0 20px;
    }
    .search {
      padding: 0 20px;
      height: 40px;
      form {
        display: inline-flex;
      }
      input {
        height: 40px;
        width: 220px;
        border: 1px solid $primary-gray-tint-2;
        border-radius: 5px;
        padding: 0 10px 0 32px;
        font-size: 14px;
        background: $primary-white;
        outline: none;
      }
      svg {
        position: absolute;
        margin-top: 12px;
        margin-left: 12px;
        color: $primary-gray-tint-3;
        -webkit-text-stroke: 1px $primary-white;
      }
    }
  }
}

.filter {
  background-color: $primary-gray-tint-1a;
  margin: 20px;
  padding: 20px 30px;
  border-radius: 5px;

  h3 {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    color: $primary-blue;
  }

  label {
    cursor: pointer;
    position: relative;
    user-select: none;
    color: $primary-gray-tint-3;
    font-weight: 400;
    font-size: 14px;
  	display: block;
  	margin-bottom: 15px;
  	padding-left: 30px;

    input {
    	position: absolute;
    	z-index: -1;
    	opacity: 0;
    }

    input:checked ~.indicator {
      display: block;
    	background: $primary-gray-tint-3;
    }
  }
}

.talent-view {
  .item {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid $primary-gray-tint-2;
    background-color: $primary-white;
    .header {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
    }
    .avatar {
      width: 80px;
      height: 80px;
      border-right: 1px solid $primary-gray-tint-2;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
      }
    }
    .title {
      flex-basis: 55%;
      font-size: 14px;
      h3 {
        font-size: 15px;
        font-weight: 400;
        color: $primary-gray-tint-4;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        padding: 0;
        margin: 5px 0;
      }
    }
    .details {
      color: $primary-gray-tint-3;
      flex-basis: 26%;

      h3 {
        text-align: right;
        padding: 0 15px 0 0;
        font-size: 14px;
        font-weight: 400;
        color: $primary-gray-tint-4;
      }
    }
    .source {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40px;
      }
    }
    .footer {
      h3 {
        font-size: 16px;
        font-weight: 400;
        color: $primary-gray-tint-4;
        margin: 0;
      }
      ul {
        margin-bottom: 0;
      }
      p, li {
        font-size: 12px;
        font-weight: 300;
        padding: 0;
        margin: 5px 0;
      }
      .description {
        padding: 15px;
        border-top: 1px solid $primary-gray-tint-2;
        border-bottom: 1px solid $primary-gray-tint-2;
      }
      .action {
        padding: 10px;
        .invite-button, .lead-button {
          cursor: pointer;
          width: 100px;
          border-radius: 5px;
          background-color: $primary-green;
          color: $primary-white;
          text-align: center;
          font-size: 14px;
          display: inline-block;
          text-decoration: none;
          padding: 9px 15px;
        }
        .lead-button {
          margin-right: 10px;
          background-color: $primary-red;
        }
        .invite-button:hover, .lead-button:hover {
          opacity: .8;
        }
      }
    }
  }
  .item:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.15);
  }

  .just-added {
    text-align: center;
    margin: 0 16px 0 44px;
    width: 80px;
    font-size: 12px;
    font-weight: 300;
    background-color: $primary-red;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
  }

  .timestamp {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    padding: 0 15px 0 0;
  }
}




@media only screen and (min-width: 320px) and (max-width: 736px) {
  .talent-view {
    .item {
      .title {
        flex-basis: 70%;
      }
      .details {
        display: none;
      }
    }
  }
}


@media only screen and (min-width: 320px) and (max-width: 736px) {
  .talent-view {
    .box {
      width: 100%;
      margin: 50px 20px 20px 20px;
    }
    .left, .right {
      display: none;
    }
  }
}
