@import './base/colors';

.talent-view {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: $primary-gray-tint-1;
  z-index: 0;
  overflow: visible;
  .header {
    margin: auto;
    padding: 10px 0;
    width: 600px;
    text-align: center;
    h1 {
      font-weight: 300;
      font-size: 1.75rem;
      color: $primary-blue;
    }
  }
}
