$primary-green: #3FC1C9;
$primary-red: #FF5252;
$primary-blue: #455D7A;
$primary-white: #ffffff;
$primary-green-alert: #22C7A9;

$primary-gray-tint-1:  #f2f3f8;
$primary-gray-tint-1a: #e9eaf0;
$primary-gray-tint-2:  #e2e2e2;
$primary-gray-tint-3:  #a7a6ad;
$primary-gray-tint-4:  #313039;
